<div class="row">
  <div class="col-md-6 text-center" style="height: 300px; background: lightgrey;">
    <h1 style="margin-top: 40px; color: blue; text-decoration: underline;">Patient</h1>
    <%= render 'patient_create' %>
  </div>
  <div class="col-md-6 text-center" style="height: 300px;">
    <h1 style="margin-top: 40px; color: blue; text-decoration: underline;">Doctor</h1>
    <%= render 'doctor_create' %>
  </div>
  <div class="col-md-6 text-center" style="height: 300px;">
    <h1 style="margin-top: 40px; color: blue; text-decoration: underline;">Appointment</h1>
    <%= render 'appointment_create' %>
  </div>
  <div class="col-md-6 text-center" style="height: 300px; background: lightgrey;">
    <h1>guyss</h1>
  </div>
</div>